<%= form_for(@question) do |f| %>
  <%= render 'shared/form_errors', object: @question %>

  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Save", :class => 'flow_button' %>
    <%= f.submit 'Save & Add Choice', :class => 'flow_button' %>

  </div>
<% end %>
