<%= form_for(responses, url: responses_path ) do |f| %>
  <% responses.each do |response| %>
    <ol>
      <li class="choice_box">
        <%= f.hidden_field(:choice_id, value: response.choice.id) %>
        <%= f.radio_button(:pip, 1) %>
        <%= f.label(response.choice.content) %>
      </li>
    </ol>
  <% end %>
  <div class="actions">
    <%= f.submit "Submit", :class => 'flow_button' %>
  </div>
<% end %>