<h1><%= @question_set.title %></h1>     <!-- Sets question set for current @question, -->           
                                        <!-- which, relative to pagination, is first  -->
<div class="center">                    <!-- question of question set series.         -->
    <%= will_paginate @questions %>
  <ol>
    <% @questions.each do |question| %>
      <li class="question_box"> 
        <h3>
          <%= question.content %>
        </h3>

        <% responses = [] %>                                <!-- Sets up empty array for responses -->
        <% question.choices.each do |choice| %>             <!-- Iterates through question's choices -->
          <% responses << choice.responses.build %>         <!-- Builds responses and puts them in array -->
          <% @responses = responses %>
        <% end %>

        <% if question.question_format.name == "Multiple Answer" %>

          <%= form_for(@responses, url: responses_path ) do |f| %>
              <ol>
              <% @responses.each do |response| %>
                <%= f.fields_for 'responses[]', response do |ff| %>
                 <li class="choice_box">
                  <%= ff.check_box(:pip) %>
                  <%= ff.hidden_field(:choice_id, value: response.choice.id) %>
                  <%= response.choice.content %>
                </li>
                <% end %>
               <% end %>
              </ol>
            <div class="actions">
              <%= f.submit "Submit", :class => 'flow_button' %>
            </div>
            <% end %>
    

        <% elsif question.question_format.name == "Single Answer" %>

          <%= form_for(@responses, url: responses_path ) do |f| %>
            <% responses.each do |response| %>
              <ol>
                <li class="choice_box">
                  <%= f.hidden_field(:choice_id, value: response.choice.id) %>
                  <%= f.radio_button(:pip, 1) %>
                  <%= f.label(response.choice.content) %>
                </li>
              </ol>
            <% end %>
            <div class="actions">
              <%= f.submit "Submit", :class => 'flow_button' %>
            </div>
          <% end %>

        <% end %>
      </li>
    <% end %>
  </ol>
    <%= will_paginate @questions%>
</div>

