<h1><%= @question_set.title %></h1>

<div class="center">
  <ol>
    <% @questions.each do |question| %>
      <li class="question_box">
        <h3>
          <%= question.content %>
        </h3>

        <% responses = [] %>
        <% @choices.each do |choice| %>
          <% responses << choice.responses.build %>
          <% @responses = responses %>
        <% end %>

        <% if @question_format.name == "Multiple Answer" %>

          <%= form_for(@responses, url: responses_path ) do |f| %>
              <ol>
              <% @responses.each do |response| %>
                <%= f.fields_for 'responses[]', response do |ff| %>
                 <li class="choice_box">
                  <%= ff.check_box(:pip) %>
                  <%= ff.hidden_field(:choice_id, value: response.choice.id) %>
                  <%= response.choice.content %>
                </li>
                <% end %>
               <% end %>
              </ol>
            <div class="actions">
              <%= f.submit "Submit", :class => 'flow_button' %>
            </div>
            <% end %>
    

        <% elsif @question_format.name == "Single Answer" %>

          <%= form_for(@responses, url: responses_path ) do |f| %>
            <% responses.each do |response| %>
              <ol>
                <li class="choice_box">
                  <%= f.hidden_field(:choice_id, value: response.choice.id) %>
                  <%= f.radio_button(:pip, 1) %>
                  <%= f.label(response.choice.content) %>
                </li>
              </ol>
            <% end %>
            <div class="actions">
              <%= f.submit "Submit", :class => 'flow_button' %>
            </div>
          <% end %>

        <% end %>
      </li>
    <% end %>
  </ol>
  <%= button_to 'Edit', edit_question_set_path, method: 'get', :class => 'flow_button' %>
  <%= button_to 'Add Question', new_question_path, method: 'get', :class => 'flow_button' %>
</div>
