<% provide(:title, "Log in") %>

<div id="top-row" class="row">
  <h2 id="page-title" class="large-8 small-centered columns subheader">
    Login
  </h2>
</div>

<%= form_for(:session, url: login_path) do |f| %>

  <div class="row">
    <div class="large-8 small-centered columns">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="row">
    <div class="large-8 small-centered columns">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="row">
    <div class="large-8 small-centered columns">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "Remember me on this computer" %>
    </div>
  </div>

  <div class="row">
    <div class="large-2 small-centered columns">
      <%= f.submit "Log in", class: 'button radius' %>
    </div>
  </div>

<% end %>

<div class="row">
  <div class="large-3 small-centered columns">
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>