<% provide(:title, 'Sign up') %>

<div id="top-row" class="row">
  <h2 id="page-title" class="large-8 small-centered columns subheader">Signup</h2>
</div>
    
  <%= form_for(@user) do |f| %>

    <%= render 'shared/form_errors', object: @user %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Create my account", class: 'button' %>
  <% end %>
