<% provide(:title, 'Sign up') %>

<div id="top-row" class="row">
  <h2 id="page-title" class="large-8 small-centered columns subheader">Signup</h2>
</div>
    
<%= form_for(@user) do |f| %>

  <%= render 'shared/form_errors', object: @user %>

  <div class="row">
    <div class="large-8 small-centered columns">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="large-8 small-centered columns">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="row">
    <div class="large-8 small-centered columns">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="row">
    <div class="large-8 small-centered columns">
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
    </div>
  </div><br />

  <div class="row">
    <div class="large-3 small-centered column">
      <%= f.submit "Sign me up!", class: "button radius" %>
    </div>
  </div>

<% end %>

