<%= form_for(@question_set) do |f| %>

  <%= render 'shared/form_errors', object: @question_set %>

  <div class="row collapse">
    <div>
      <%= f.label :title, class: "inline-left" %>
    </div>
    <div>
      <%= f.text_field :title %>
    </div>
  </div>

  <%= f.fields_for :questions do |builder| %>
    <%= render 'question_sets/question_fields', f: builder %>
  <% end %>


  <div class="button-group">
    <%= f.submit "Update", class: "button" %>
    <%= link_to "Cancel", question_sets_path, class: "button" %>
  </div>

<% end %>





