<%= form_for(@question_set) do |f| %>

  <%= render 'shared/form_errors', object: @question_set %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div><br />

  <%= f.fields_for :questions do |builder| %>
    <div class="question_box">
      <%= render 'question_sets/question_fields', f: builder %>
    </div>

  <% end %>

  <div class="actions">
    <%= f.submit "Update", :class => 'button' %>

    <%= link_to "Cancel Changes",
      question_sets_path, class: "button" %>
  </div>

<% end %>
