<fieldset>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :content, "Question" %>
        <div>
          <%= f.text_area :content, size: 'x5' %>
        </div>
    </div>
  </div>


  <%= f.fields_for :choices do |builder| %>
    <%= render 'question_sets/answer_fields', f: builder %>
  <% end %>

  <div class="row">
    <div class="large-4 columns">
      <%= f.label 'Question format:' %>
      <%= f.select :question_format_id,
        options_for_select(@question_formats.reverse.map{ |format| [format.name, format.id] }), 
        prompt: "Please select a format" %>
    </div><br />

    <%= hidden_tag_if(params[:action] == "new", :div, class: 'small-3 columns right') do %>
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, "Remove Question", class: "inline-right" %>
    <% end %>

  </div>

</fieldset>