<h1>Menu</h1>

<div class="center">
  <ol class="menu_buttons">
  <% @question_sets.each do |object| %>
    <%= link_to object do %>
      <li>
        <%= object['title'] %>
      </li>
    <% end %>
    <%= link_to object.first_question do %>
      <li>
        <%= "Launch!" %>
      </li>
    <% end %>
  <% end %>
</ol>
  <br>
  <%= button_to 'Add Project', new_question_set_path,
    method: 'get', :class => 'flow_button'  %>
</div>
