<% provide(:title, 'Menu') %>

<h1>Menu</h1>
<div class="center">
  <%= button_to 'Add Project', new_question_set_path,
    method: 'get', :class => 'flow_button'  %>
  <ol class="menu_buttons">
    <% @question_sets.each do |question_set| %>
      <%= link_to question_set_questions_path(question_set), id: "launch_button" do %>
        <li><%= "Launch!" %></li>
      <% end %>
      <%= link_to question_set do %>
        <li><%= question_set['title'] %></li>
      <% end %>
    <% end %>
  </ol>
</div>
