<h1>Menu</h1>

<div class="center">
  <ol class="menu_buttons">
  <% @question_sets.each do |question_set| %>
    <%= link_to question_set do %>
      <li>
        <%= question_set['title'] %>
      </li>
    <% end %>
    <%= link_to questions_path(question_set_id: question_set.id) do %>
      <li>
        <%= "Launch!" %>
      </li>
    <% end %>
  <% end %>
</ol>
  <br>
  <%= button_to 'Add Project', new_question_set_path,
    method: 'get', :class => 'flow_button'  %>
</div>
