<% provide(:title, 'Review') %>

<div id="top-row" class="row">
  <h2 id="page-title" class="large-8 small-centered columns subheader">Polls Menu</h2>
  <ul class="button-group round">
    <li><%= link_to "Poll Menu", question_sets_path, class: "tiny button alert"%></li>
    <li><%= link_to "Edit", edit_question_set_path(@question_set), class: "tiny button alert"%></li>
  </ul>
</div>

  <% if @questions.nil? %>

    <div class="panel">
      <div class="medium-6 small-centered columns">
        <h3>Oh dang, this poll is empty :( </h3>
      </div>
    </div>

  <% else %>

    <ol>
      <% @questions.each do |question| %>
        <div id="question-panel" class="panel">
          <div class="row">
            <div id="question-text">
              <h3>Question:</h3>
              <h5 class="text-justify">
                <%= question.content %>
              </h5>
            </div>
          </div>
          <div>
            <ul id="choice-list">
              <% question.choices.each do |choice| %>
                <li><%= choice.content %></li>
              <% end %>
            </ul>
            <h5>
              Format:
              <span class="label">
                <%= question.question_format.name %>
              </span>
            </h5>
          </div>
        </div>
      <% end %>
    </ol>
  <% end %>

  <!-- Shows partial with modal if new response token is set-->
<% if session[:show_modal] == true %>                          
  <%= render 'question_sets/response_token_modal',
    question_set: @question_set %>
  <% session.delete(:show_modal) %>
<% end %>
