<% provide(:title, "Respond to poll!") %>
<h1>Poll Response</h1>

<% if false %>
<!-- <div class="center">
  <div class="login_form">

    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :remember_me, class: "checkbox" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <%= f.submit "Log in", class: 'flow_button' %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div> -->
<% end %>