<% provide(:title, "Respond") %>

<div id="top-row" class="row">
  <h2 id="page-title" class="large-8 small-centered columns subheader">
    Respond
  </h2>
</div>

<%= form_for(:respondent) do |f| %>

  <div class="row">
    <div class="large-8 small-centered columns">
      <%= f.label :poll_title, "Poll Title" %>
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="row">
    <div class="large-8 small-centered columns">
      <%= f.label :password, "Poll Password" %>
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="row">
    <div class="large-2 small-centered columns">
      <%= f.submit "Poll", class: 'button radius' %>
    </div>
  </div>

<% end %>
