<header>
  <div id="header_color_block">
  </div>
  <nav id="header_nav">
    <%= link_to "Shuntoo", root_path, id: "logo" %>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li class="bright_choice"><%= link_to "Log in",  '#' %></li>
      <li><%= link_to "About",  about_path  %></li>
      <li><%= link_to "Help",   help_path %></li>
      <li><%= link_to "Contact",  "#"  %></li>
    </ul>
  </nav>
</header>