<header>
  <div id="header_color_block">
  </div>
  <nav id="header_nav">
    <%= link_to "Shuntoo", root_path, id: "logo" %>
    <ul>
      <% if signed_in? %>
        <li><%= link_to "Home", menu_path %></li>
      <% else %>
        <li><%= link_to "Home",   root_path %></li>
      <% end %>
      <li><%= link_to "About",  about_path  %></li>
      <li><%= link_to "Help",   help_path %></li>
      <li><%= link_to "Contact",  "#"  %></li>
      <% if signed_in? %>
        <li class="button">Account</li>
          <div class="dropdown">
              <%= link_to "Settings", '#' %>
              <%= link_to "Logout", logout_path, method: "delete" %>
          </div>
        </div>
      <% else %>
        <li><%= link_to "Login",  login_path %></li>
      <% end %>
    </ul>
  </nav>
</header>